.sidebar{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    padding: 10px 14px;
    background: var(--background-color-dark);
    border-right: 2px solid var(--divider);
}

.sidebar .menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4em;
    margin-bottom: 4em;
}

.menu-header button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0.1em;
    outline: none;
    border: none;
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 0.2em;
}

.menu-header button svg{
    font-size: 16px;
}

.menu-header button:hover{
    color: var(--text-color-high);
}


.sidebar li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0.2em;
    margin-top: 10px;
    list-style: none;
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.sidebar li svg{
    font-size: 1em;
}

.sidebar li:hover{
    color: var(--text-color-high);
    border: 2px solid var(--primary-color);
}

.sidebar li.active{
    color: var(--text-color-high);
    border: 2px solid var(--primary-color);
    background: rgba(65, 33, 230, 0.1);
}